name: CICD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:       
  compile:
    
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: compilation
      run: mvn compile

  test:
    
    runs-on: self-hosted
    needs: compile

    steps:
    - uses: actions/checkout@v4
    - name: unit test
      run: mvn test

  security-check:

    runs-on: self-hosted
    needs: test

    steps:
    - uses: actions/checkout@v4
    - name: Trivy FS Scan
      run: trivy fs --format table -o fs-report.json .
    - name: Gitleaks Installation
      run: |
        wget https://github.com/gitleaks/gitleaks/releases/download/v8.29.0/gitleaks_8.29.0_linux_x64.tar.gz
        tar -xvzf gitleaks_8.29.0_linux_x64.tar.gz
        sudo mv gitleaks /usr/local/bin/
    - name: Gitleaks Code Scan
      run: gitleaks detect source . -r gitleaksreport.json -f json

  package:
    
    runs-on: self-hosted
    needs: security-check
    steps:
    - uses: actions/checkout@v4
    - name: Build with Maven
      run: mvn -B package --file pom.xml

  sonarqube:
    runs-on: self-hosted
    needs: package
    
    steps:
    - uses: actions/checkout@v4
      with:
        # Disabling shallow clones is recommended for improving the relevancy of reporting
        fetch-depth: 0
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v7.0.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

    - name: SonarQube Quality Gate check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@master
      with:
          pollingTimeoutSec: 600
      env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }} #OPTIONAL


  
